<?xml version="1.0" encoding="utf-8"?>

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.csutcc.wannikinaraidee" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">

        <activity
            android:name="com.csutcc.wannikinaraidee.SigninScreen"
            android:label="@string/app_name">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="com.csutcc.wannikinaraidee.RegisterActivity"
            android:label="@string/app_name"/>
        <activity android:name="com.csutcc.wannikinaraidee.MainActivity"
            android:label="@string/app_name" />
        <activity android:name="com.csutcc.wannikinaraidee.SignupScreen"
            android:label="@string/app_name" />
        <activity android:name="com.csutcc.wannikinaraidee.A03_TabMenu.TabMenu"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".A08_BookTable.BookTable" />
        <activity android:name=".A07_RestaurantDetail.RestaurantDetailView" />
        <activity
            android:name=".A06_RestaurantList.RestaurantListview"
            android:label="@string/title_activity_restaurant_listview"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".A05_HomeCategory.HomeCategory"
            android:label="@string/title_activity_restaurant_list"
            android:theme="@style/AppTheme.NoActionBar" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDFNnP_L1EQ2Sd4QHSRFH6gfn_XnwoSwFw" />
    </application>
</manifest>